<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %> 

<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="about content">
        <h2>About Humble Herbal</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nihil ducimus vitae veniam velit repellendus recusandae ipsa, veritatis illo omnis?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nihil ducimus vitae veniam velit repellendus recusandae ipsa, veritatis illo omnis?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nihil ducimus vitae veniam velit repellendus recusandae ipsa, veritatis illo omnis?</p>
    </div>
    <%- include('./partials/footer.ejs')  %> 

</body>
</html>